<a href="https://colab.research.google.com/github/vpvinc/P7_loan_scoring_model/blob/main/P7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

**P7 Implémentez un modèle de scoring**

https://www.kaggle.com/c/home-credit-default-risk/data

### TF Setup

In [1]:
# List all CPU and GPUs
from tensorflow.python.client import device_lib
device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 2919528543794474743]

### Seed and import libraries

In [2]:
"""répertoire courant où se trouve les données : D:/Dowloads_D/Data_OC/P7/Projet+Mise+en+prod+-+home-credit-default-risk"""
 
seed = 7
 # common libraries
import numpy as np
import pandas as pd
import os
import re
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
plt.rc('figure', figsize=(10, 6))
# extra libraries
import pickle
import IPython.display
from math import ceil
from operator import itemgetter

# uploading useful_functions.py from
# C:\Users\VP\Google Drive\Education\OC\working_directory
from google.colab import files
uploaded = files.upload()

Saving useful_functions.py to useful_functions.py

In [14]:
os.chdir('/content/')
%run -i useful_functions

# plot params
- set_style_pers

# EDA functions
 ## multiple dfs exploration
- dfs_insight
 ## univariate analysis
- plot_cont_kde
- plot_cat_countplot
# Clustering functions
- radar_ploting_clustering

### DL data from kaggle

In [5]:
## dowload datasets directly from kaggle to GD
# Import OS for navigation and environment set up
import os
# Check current location, '/content' is the Colab virtual machine
# os.getcwd()
# Enable the Kaggle environment, use the path to the directory your Kaggle API JSON is stored in
!pip install kaggle
os.environ['KAGGLE_CONFIG_DIR'] = '/content/drive/MyDrive/Colab/Kaggle'
# Navigate into Drive where you want to store your Kaggle data
path_datasets = '/content/drive/MyDrive/Colab/Kaggle/Competitions'                                                 # /!\ variable # folder Competition / Datasets
os.chdir(path_datasets)
# Paste and run the copied API command, the data will download to the current directory
!kaggle competitions download -c home-credit-default-risk # replace dataset name/competition after -c              # /!\ variable # dataset
# Check contents of directory, you should see the .zip file for the competition in your Drive
# os.listdir()

## unzip datasets from GD to virtual machine 'content'
for file in os.listdir(path_datasets):
  # Complete path to storage location of the .zip file of data
  zip_path = os.path.join(path_datasets, file)
  # we create a folder 'data' in content that will host our unziped datasets and make it the WD
  if not os.path.exists('/content/sample_data/data'):
    os.mkdir('/content/sample_data/data')
  os.chdir('/content/sample_data/data') 
  # Copy the .zip file into the present directory
  !cp '{zip_path}' .
# once all ziped are copied in conten/sample data/data, we unzip them to CSV
!unzip \*.zip
# and delete the zip files
!rm *.zip
# check the content
# os.listdir()

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
bureau.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
application_test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
credit_card_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
HomeCredit_columns_description.csv: Skipping, found more recently modified local copy (use --force to force download)
installments_payments.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
bureau_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
POS_CASH_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
previous_application.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
application_train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
cp: -r not specified; omitting directory '/content/drive/MyDrive/Colab/Kaggle/Competitions/.ipynb_checkpoints'
Archive:  POS_CASH_balance.csv.zip
  inflating: POS_CASH_balance.csv

Archive:  application_test.csv.zip
  inflating: application_test.csv

Archive:  credit_card_balance.csv.zip
  inflating: credit_card_balance.csv

Archive:  previous_application.csv.zip
  inflating: previous_application.csv

Archive:  bureau.csv.zip
  inflating: bureau.csv

Archive:  bureau_balance.csv.zip
  inflating: bureau_balance.csv

Archive:  application_train.csv.zip
  inflating: application_train.csv

Archive:  installments_payments.csv.zip
  inflating: installments_payments.csv

8 archives were successfully processed.

# Shape Analysis

In [10]:
os.chdir('/content/sample_data/data')
!ls

application_test.csv	 HomeCredit_columns_description.csv
application_train.csv	 installments_payments.csv
bureau_balance.csv	 POS_CASH_balance.csv
bureau.csv		 previous_application.csv
credit_card_balance.csv  sample_submission.csv

In [11]:
os.chdir('/content/sample_data/data')
df_raw_app_test = pd.read_csv('application_test.csv')
df_raw_app_train = pd.read_csv('application_train.csv')
df_raw_bureau_balance = pd.read_csv('bureau_balance.csv')
df_raw_bureau = pd.read_csv('bureau.csv')
df_raw_credit_card = pd.read_csv('credit_card_balance.csv')
df_raw_installments = pd.read_csv('installments_payments.csv')
df_raw_POS_CASH_balance = pd.read_csv('POS_CASH_balance.csv')
df_raw_previous_application = pd.read_csv('previous_application.csv')
df_raw_sample_submission = pd.read_csv('sample_submission.csv')

In [15]:
dfs_dict = dict()

dfs_dict['df_raw_app_test'] = df_raw_app_test
dfs_dict['df_raw_app_train'] = df_raw_app_train
dfs_dict['df_raw_bureau_balance'] = df_raw_bureau_balance
dfs_dict['df_raw_bureau'] = df_raw_bureau
dfs_dict['df_raw_credit_card'] = df_raw_credit_card
dfs_dict['df_raw_installments'] = df_raw_installments
dfs_dict['df_raw_POS_CASH_balance'] = df_raw_POS_CASH_balance
dfs_dict['df_raw_previous_application'] = df_raw_previous_application
dfs_dict['df_raw_sample_submission'] = df_raw_sample_submission

In [16]:
dfs_insight(dfs_dict)

  df-wise information
                       name_df             shape   % NaN # duplicated rows
0              df_raw_app_test   ((48744, 121),)  23.81%                 0
1             df_raw_app_train  ((307511, 122),)  24.40%                 0
2        df_raw_bureau_balance  ((27299925, 3),)   0.00%                 0
3                df_raw_bureau  ((1716428, 17),)  13.50%                 0
4           df_raw_credit_card  ((3840312, 23),)   6.65%                 0
5          df_raw_installments  ((13605401, 8),)   0.01%                 0
6      df_raw_POS_CASH_balance  ((10001358, 8),)   0.07%                 0
7  df_raw_previous_application  ((1670214, 37),)  17.98%                 0
8     df_raw_sample_submission     ((48744, 2),)   0.00%                 0

  column-wise information
 df_raw_app_test
                              dtype  # dupplicated entries avg_nan_col
SK_ID_CURR                    int64                    0.0       0.00%
NAME_CONTRACT_TYPE           object                48742.0       0.00%
CODE_GENDER                  object                48742.0       0.00%
FLAG_OWN_CAR                 object                48742.0       0.00%
FLAG_OWN_REALTY              object                48742.0       0.00%
...                             ...                    ...         ...
AMT_REQ_CREDIT_BUREAU_DAY   float64                48740.0      12.41%
AMT_REQ_CREDIT_BUREAU_WEEK  float64                48740.0      12.41%
AMT_REQ_CREDIT_BUREAU_MON   float64                48736.0      12.41%
AMT_REQ_CREDIT_BUREAU_QRT   float64                48735.0      12.41%
AMT_REQ_CREDIT_BUREAU_YEAR  float64                48727.0      12.41%

[121 rows x 3 columns]

first 3 rows

   SK_ID_CURR  ... AMT_REQ_CREDIT_BUREAU_YEAR
0      100001  ...                        0.0
1      100005  ...                        3.0
2      100013  ...                        4.0

[3 rows x 121 columns]

----------------------------------------------------------------------
 df_raw_app_train
                              dtype  # dupplicated entries avg_nan_col
SK_ID_CURR                    int64                    0.0       0.00%
TARGET                        int64               307509.0       0.00%
NAME_CONTRACT_TYPE           object               307509.0       0.00%
CODE_GENDER                  object               307508.0       0.00%
FLAG_OWN_CAR                 object               307509.0       0.00%
...                             ...                    ...         ...
AMT_REQ_CREDIT_BUREAU_DAY   float64               307501.0      13.50%
AMT_REQ_CREDIT_BUREAU_WEEK  float64               307501.0      13.50%
AMT_REQ_CREDIT_BUREAU_MON   float64               307486.0      13.50%
AMT_REQ_CREDIT_BUREAU_QRT   float64               307499.0      13.50%
AMT_REQ_CREDIT_BUREAU_YEAR  float64               307485.0      13.50%

[122 rows x 3 columns]

first 3 rows

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0

[3 rows x 122 columns]

----------------------------------------------------------------------
 df_raw_bureau_balance
                 dtype  # dupplicated entries avg_nan_col
SK_ID_BUREAU     int64               26482530       0.00%
MONTHS_BALANCE   int64               27299828       0.00%
STATUS          object               27299917       0.00%

first 3 rows

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C

----------------------------------------------------------------------
 df_raw_bureau
                          dtype  # dupplicated entries avg_nan_col
SK_ID_CURR                int64              1410617.0       0.00%
SK_ID_BUREAU              int64                    0.0       0.00%
CREDIT_ACTIVE            object              1716424.0       0.00%
CREDIT_CURRENCY          object              1716424.0       0.00%
DAYS_CREDIT               int64              1713505.0       0.00%
CREDIT_DAY_OVERDUE        int64              1715486.0       0.00%
DAYS_CREDIT_ENDDATE     float64              1702331.0       6.15%
DAYS_ENDDATE_FACT       float64              1713510.0      36.92%
AMT_CREDIT_MAX_OVERDUE  float64              1648176.0      65.51%
CNT_CREDIT_PROLONG        int64              1716418.0       0.00%
AMT_CREDIT_SUM          float64              1479719.0       0.00%
AMT_CREDIT_SUM_DEBT     float64              1489890.0      15.01%
AMT_CREDIT_SUM_LIMIT    float64              1664701.0      34.48%
AMT_CREDIT_SUM_OVERDUE  float64              1714812.0       0.00%
CREDIT_TYPE              object              1716413.0       0.00%
DAYS_CREDIT_UPDATE        int64              1713446.0       0.00%
AMT_ANNUITY             float64              1676106.0      71.47%

first 3 rows

   SK_ID_CURR  SK_ID_BUREAU  ... DAYS_CREDIT_UPDATE AMT_ANNUITY
0      215354       5714462  ...               -131         NaN
1      215354       5714463  ...                -20         NaN
2      215354       5714464  ...                -16         NaN

[3 rows x 17 columns]

----------------------------------------------------------------------
 df_raw_credit_card
                              dtype  # dupplicated entries avg_nan_col
SK_ID_PREV                    int64                3736005       0.00%
SK_ID_CURR                    int64                3736754       0.00%
MONTHS_BALANCE                int64                3840216       0.00%
AMT_BALANCE                 float64                2492408       0.00%
AMT_CREDIT_LIMIT_ACTUAL       int64                3840131       0.00%
AMT_DRAWINGS_ATM_CURRENT    float64                3838044      19.52%
AMT_DRAWINGS_CURRENT        float64                3653307       0.00%
AMT_DRAWINGS_OTHER_CURRENT  float64                3838479      19.52%
AMT_DRAWINGS_POS_CURRENT    float64                3671563      19.52%
AMT_INST_MIN_REGULARITY     float64                3528045       7.95%
AMT_PAYMENT_CURRENT         float64                3677102      20.00%
AMT_PAYMENT_TOTAL_CURRENT   float64                3657355       0.00%
AMT_RECEIVABLE_PRINCIPAL    float64                2644473       0.00%
AMT_RECIVABLE               float64                2501434       0.00%
AMT_TOTAL_RECEIVABLE        float64                2501304       0.00%
CNT_DRAWINGS_ATM_CURRENT    float64                3840267      19.52%
CNT_DRAWINGS_CURRENT          int64                3840183       0.00%
CNT_DRAWINGS_OTHER_CURRENT  float64                3840300      19.52%
CNT_DRAWINGS_POS_CURRENT    float64                3840178      19.52%
CNT_INSTALMENT_MATURE_CUM   float64                3840190       7.95%
NAME_CONTRACT_STATUS         object                3840305       0.00%
SK_DPD                        int64                3839395       0.00%
SK_DPD_DEF                    int64                3839934       0.00%

first 3 rows

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     2562384      378907  ...       0           0
1     2582071      363914  ...       0           0
2     1740877      371185  ...       0           0

[3 rows x 23 columns]

----------------------------------------------------------------------
 df_raw_installments
                          dtype  # dupplicated entries avg_nan_col
SK_ID_PREV                int64               12607649       0.00%
SK_ID_CURR                int64               13265814       0.00%
NUM_INSTALMENT_VERSION  float64               13605336       0.00%
NUM_INSTALMENT_NUMBER     int64               13605124       0.00%
DAYS_INSTALMENT         float64               13602479       0.00%
DAYS_ENTRY_PAYMENT      float64               13602361       0.02%
AMT_INSTALMENT          float64               12702862       0.00%
AMT_PAYMENT             float64               12661165       0.02%

first 3 rows

   SK_ID_PREV  SK_ID_CURR  ...  AMT_INSTALMENT  AMT_PAYMENT
0     1054186      161674  ...        6948.360     6948.360
1     1330831      151639  ...        1716.525     1716.525
2     2085231      193053  ...       25425.000    25425.000

[3 rows x 8 columns]

----------------------------------------------------------------------
 df_raw_POS_CASH_balance
                         dtype  # dupplicated entries avg_nan_col
SK_ID_PREV               int64                9065033       0.00%
SK_ID_CURR               int64                9664106       0.00%
MONTHS_BALANCE           int64               10001262       0.00%
CNT_INSTALMENT         float64               10001284       0.26%
CNT_INSTALMENT_FUTURE  float64               10001278       0.26%
NAME_CONTRACT_STATUS    object               10001349       0.00%
SK_DPD                   int64                9997958       0.00%
SK_DPD_DEF               int64                9999051       0.00%

first 3 rows

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     1803195      182943  ...       0           0
1     1715348      367990  ...       0           0
2     1784872      397406  ...       0           0

[3 rows x 8 columns]

----------------------------------------------------------------------
 df_raw_previous_application
                               dtype  # dupplicated entries avg_nan_col
SK_ID_PREV                     int64                    0.0       0.00%
SK_ID_CURR                     int64              1331357.0       0.00%
NAME_CONTRACT_TYPE            object              1670210.0       0.00%
AMT_ANNUITY                  float64              1312254.0      22.29%
AMT_APPLICATION              float64              1576329.0       0.00%
AMT_CREDIT                   float64              1583410.0       0.00%
AMT_DOWN_PAYMENT             float64              1640935.0      53.64%
AMT_GOODS_PRICE              float64              1576328.0      23.08%
WEEKDAY_APPR_PROCESS_START    object              1670207.0       0.00%
HOUR_APPR_PROCESS_START        int64              1670190.0       0.00%
FLAG_LAST_APPL_PER_CONTRACT   object              1670212.0       0.00%
NFLAG_LAST_APPL_IN_DAY         int64              1670212.0       0.00%
RATE_DOWN_PAYMENT            float64              1463180.0      53.64%
RATE_INTEREST_PRIMARY        float64              1670065.0      99.64%
RATE_INTEREST_PRIVILEGED     float64              1670188.0      99.64%
NAME_CASH_LOAN_PURPOSE        object              1670189.0       0.00%
NAME_CONTRACT_STATUS          object              1670210.0       0.00%
DAYS_DECISION                  int64              1667292.0       0.00%
NAME_PAYMENT_TYPE             object              1670210.0       0.00%
CODE_REJECT_REASON            object              1670205.0       0.00%
NAME_TYPE_SUITE               object              1670206.0      49.12%
NAME_CLIENT_TYPE              object              1670210.0       0.00%
NAME_GOODS_CATEGORY           object              1670186.0       0.00%
NAME_PORTFOLIO                object              1670209.0       0.00%
NAME_PRODUCT_TYPE             object              1670211.0       0.00%
CHANNEL_TYPE                  object              1670206.0       0.00%
SELLERPLACE_AREA               int64              1668117.0       0.00%
NAME_SELLER_INDUSTRY          object              1670203.0       0.00%
CNT_PAYMENT                  float64              1670164.0      22.29%
NAME_YIELD_GROUP              object              1670209.0       0.00%
PRODUCT_COMBINATION           object              1670196.0       0.02%
DAYS_FIRST_DRAWING           float64              1667375.0      40.30%
DAYS_FIRST_DUE               float64              1667321.0      40.30%
DAYS_LAST_DUE_1ST_VERSION    float64              1665608.0      40.30%
DAYS_LAST_DUE                float64              1667340.0      40.30%
DAYS_TERMINATION             float64              1667383.0      40.30%
NFLAG_INSURED_ON_APPROVAL    float64              1670211.0      40.30%

first 3 rows

   SK_ID_PREV  SK_ID_CURR  ... DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0     2030495      271877  ...            -37.0                        0.0
1     2802425      108129  ...         365243.0                        1.0
2     2523466      122040  ...         365243.0                        1.0

[3 rows x 37 columns]

----------------------------------------------------------------------
 df_raw_sample_submission
              dtype  # dupplicated entries avg_nan_col
SK_ID_CURR    int64                    0.0       0.00%
TARGET      float64                48743.0       0.00%

first 3 rows

   SK_ID_CURR  TARGET
0      100001     0.5
1      100005     0.5
2      100013     0.5

----------------------------------------------------------------------