<bold>P7<bold>

https://www.kaggle.com/c/home-credit-default-risk/data

## Loading datasets from kaggle

In [1]:
import kaggle

ModuleNotFoundError: No module named 'kaggle'

In [2]:
# name of dataset in kaggle API
data_name = 'home-credit-default-risk'
# Import OS for navigation and environment set up
import os
# Enable the Kaggle environment, use the path to the directory your Kaggle API JSON is stored in
os.environ['KAGGLE_CONFIG_DIR'] = 'C:/Users/VP/Google Drive/Colab/Kaggle'
import kaggle
# Navigate into Drive where you want to store your Kaggle data
path_datasets = 'D:/Dowloads_D/Data_OC/P7'                                                                           # /!\ variable # folder for dowloaded datasets
os.chdir(path_datasets)
# check if the dataset has been already downloaded
if not os.path.exists('{}.zip'.format(data_name)):
    # Paste and run the copied API command, the data will download to the current directory
    # replace dataset name/competition after -c                                                                          # /!\ variable # dataset to download from kaggle
    !kaggle competitions download -d home-credit-default-risk
# now we extract the files form the zip file
from zipfile import ZipFile
with ZipFile('{}.zip'.format(data_name), 'r') as zip:
  zip.extractall()
  print('Done')

ModuleNotFoundError: No module named 'kaggle'

## importing libraries and custom functions

In [4]:
seed = 42

import numpy as np
import pandas as pd
import os
import re
import random
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()
plt.rc('figure', figsize=(10, 6))

import pickle
import IPython.display

In [5]:
"""display options"""

pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
# pd.reset_option("max_colwidth")

In [8]:
"""Importing functions and style params"""
os.chdir('C:/Users/VP/Google Drive/Education/OC/working_directory/personal_modules')
%run -i useful_functions.py

# plot params
- set_style_pers

# EDA functions
 ## multiple dfs exploration
- dfs_insight
 ## univariate analysis
- plot_cont_kde
- plot_cat_countplot
# Clustering functions
- radar_ploting_clustering

# Shape analysis

In [35]:
os.chdir('D:/Dowloads_D/Data_OC/P7' )
app_test = pd.read_csv('application_test.csv')
app_train = pd.read_csv('application_train.csv')
bureau_balance = pd.read_csv('bureau_balance.csv')
bureau = pd.read_csv('bureau.csv')
# credit = pd.read_csv('credit_card_balance.csv')
installments  = pd.read_csv('installments_payments.csv')
cash  = pd.read_csv('POS_CASH_balance.csv')
previous = pd.read_csv('previous_application.csv')
# df_raw_sample_submission = pd.read_csv('sample_submission.csv')

In [36]:
# let's gather our dfs in a dict in order to use the custom function below
dfs_dict = dict()

dfs_dict['app_test'] = app_test
dfs_dict['app_train'] = app_train
dfs_dict['bureau_balance'] = bureau_balance
dfs_dict['bureau'] = bureau
# dfs_dict['df_raw_credit_card'] = df_raw_credit_card
dfs_dict['installments'] = installments
dfs_dict['cash'] = cash
dfs_dict['previous'] = previous
# dfs_dict['df_raw_sample_submission'] = df_raw_sample_submission

In [11]:
dfs_insight(dfs_dict)

  df-wise information
          name_df             shape   % NaN # duplicated rows
0        app_test   ((48744, 121),)  23.81%                 0
1       app_train  ((307511, 122),)  24.40%                 0
2  bureau_balance  ((27299925, 3),)   0.00%                 0
3          bureau  ((1716428, 17),)  13.50%                 0
4    installments  ((13605401, 8),)   0.01%                 0
5            cash  ((10001358, 8),)   0.07%                 0
6        previous  ((1670214, 37),)  17.98%                 0

  column-wise information
 app_test
                              dtype  # dupplicated entries avg_nan_col
SK_ID_CURR                    int64                    0.0       0.00%
NAME_CONTRACT_TYPE           object                48742.0       0.00%
CODE_GENDER                  object                48742.0       0.00%
FLAG_OWN_CAR                 object                48742.0       0.00%
FLAG_OWN_REALTY              object                48742.0       0.00%
...                             ...                    ...         ...
AMT_REQ_CREDIT_BUREAU_DAY   float64                48740.0      12.41%
AMT_REQ_CREDIT_BUREAU_WEEK  float64                48740.0      12.41%
AMT_REQ_CREDIT_BUREAU_MON   float64                48736.0      12.41%
AMT_REQ_CREDIT_BUREAU_QRT   float64                48735.0      12.41%
AMT_REQ_CREDIT_BUREAU_YEAR  float64                48727.0      12.41%

[121 rows x 3 columns]

first 3 rows

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018850,-19241,-2329,-5170.0,-812,NaN,1,1,0,1,0,1,NaN,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.752614,0.789654,0.159520,0.066,0.059,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0505,NaN,NaN,0.0672,0.0612,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0526,NaN,NaN,0.0666,0.059,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0514,NaN,NaN,NaN,block of flats,0.0392,"Stone, brick",No,0.0,0.0,0.0,0.0,-1740.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-18064,-4469,-9118.0,-1623,NaN,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.564990,0.291656,0.432962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,Working,Higher education,Married,House / apartment,0.019101,-20038,-4458,-2175.0,-3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,NaN,0.699787,0.610991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-856.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

----------------------------------------------------------------------
 app_train
                              dtype  # dupplicated entries avg_nan_col
SK_ID_CURR                    int64                    0.0       0.00%
TARGET                        int64               307509.0       0.00%
NAME_CONTRACT_TYPE           object               307509.0       0.00%
CODE_GENDER                  object               307508.0       0.00%
FLAG_OWN_CAR                 object               307509.0       0.00%
...                             ...                    ...         ...
AMT_REQ_CREDIT_BUREAU_DAY   float64               307501.0      13.50%
AMT_REQ_CREDIT_BUREAU_WEEK  float64               307501.0      13.50%
AMT_REQ_CREDIT_BUREAU_MON   float64               307486.0      13.50%
AMT_REQ_CREDIT_BUREAU_QRT   float64               307499.0      13.50%
AMT_REQ_CREDIT_BUREAU_YEAR  float64               307485.0      13.50%

[122 rows x 3 columns]

first 3 rows

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

----------------------------------------------------------------------
 bureau_balance
                 dtype  # dupplicated entries avg_nan_col
SK_ID_BUREAU     int64               26482530       0.00%
MONTHS_BALANCE   int64               27299828       0.00%
STATUS          object               27299917       0.00%

first 3 rows

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C

----------------------------------------------------------------------
 bureau
                          dtype  # dupplicated entries avg_nan_col
SK_ID_CURR                int64              1410617.0       0.00%
SK_ID_BUREAU              int64                    0.0       0.00%
CREDIT_ACTIVE            object              1716424.0       0.00%
CREDIT_CURRENCY          object              1716424.0       0.00%
DAYS_CREDIT               int64              1713505.0       0.00%
CREDIT_DAY_OVERDUE        int64              1715486.0       0.00%
DAYS_CREDIT_ENDDATE     float64              1702331.0       6.15%
DAYS_ENDDATE_FACT       float64              1713510.0      36.92%
AMT_CREDIT_MAX_OVERDUE  float64              1648176.0      65.51%
CNT_CREDIT_PROLONG        int64              1716418.0       0.00%
AMT_CREDIT_SUM          float64              1479719.0       0.00%
AMT_CREDIT_SUM_DEBT     float64              1489890.0      15.01%
AMT_CREDIT_SUM_LIMIT    float64              1664701.0      34.48%
AMT_CREDIT_SUM_OVERDUE  float64              1714812.0       0.00%
CREDIT_TYPE              object              1716413.0       0.00%
DAYS_CREDIT_UPDATE        int64              1713446.0       0.00%
AMT_ANNUITY             float64              1676106.0      71.47%

first 3 rows

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN

----------------------------------------------------------------------
 installments
                          dtype  # dupplicated entries avg_nan_col
SK_ID_PREV                int64               12607649       0.00%
SK_ID_CURR                int64               13265814       0.00%
NUM_INSTALMENT_VERSION  float64               13605336       0.00%
NUM_INSTALMENT_NUMBER     int64               13605124       0.00%
DAYS_INSTALMENT         float64               13602479       0.00%
DAYS_ENTRY_PAYMENT      float64               13602361       0.02%
AMT_INSTALMENT          float64               12702862       0.00%
AMT_PAYMENT             float64               12661165       0.02%

first 3 rows

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000

----------------------------------------------------------------------
 cash
                         dtype  # dupplicated entries avg_nan_col
SK_ID_PREV               int64                9065033       0.00%
SK_ID_CURR               int64                9664106       0.00%
MONTHS_BALANCE           int64               10001262       0.00%
CNT_INSTALMENT         float64               10001284       0.26%
CNT_INSTALMENT_FUTURE  float64               10001278       0.26%
NAME_CONTRACT_STATUS    object               10001349       0.00%
SK_DPD                   int64                9997958       0.00%
SK_DPD_DEF               int64                9999051       0.00%

first 3 rows

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0

----------------------------------------------------------------------
 previous
                               dtype  # dupplicated entries avg_nan_col
SK_ID_PREV                     int64                    0.0       0.00%
SK_ID_CURR                     int64              1331357.0       0.00%
NAME_CONTRACT_TYPE            object              1670210.0       0.00%
AMT_ANNUITY                  float64              1312254.0      22.29%
AMT_APPLICATION              float64              1576329.0       0.00%
AMT_CREDIT                   float64              1583410.0       0.00%
AMT_DOWN_PAYMENT             float64              1640935.0      53.64%
AMT_GOODS_PRICE              float64              1576328.0      23.08%
WEEKDAY_APPR_PROCESS_START    object              1670207.0       0.00%
HOUR_APPR_PROCESS_START        int64              1670190.0       0.00%
FLAG_LAST_APPL_PER_CONTRACT   object              1670212.0       0.00%
NFLAG_LAST_APPL_IN_DAY         int64              1670212.0       0.00%
RATE_DOWN_PAYMENT            float64              1463180.0      53.64%
RATE_INTEREST_PRIMARY        float64              1670065.0      99.64%
RATE_INTEREST_PRIVILEGED     float64              1670188.0      99.64%
NAME_CASH_LOAN_PURPOSE        object              1670189.0       0.00%
NAME_CONTRACT_STATUS          object              1670210.0       0.00%
DAYS_DECISION                  int64              1667292.0       0.00%
NAME_PAYMENT_TYPE             object              1670210.0       0.00%
CODE_REJECT_REASON            object              1670205.0       0.00%
NAME_TYPE_SUITE               object              1670206.0      49.12%
NAME_CLIENT_TYPE              object              1670210.0       0.00%
NAME_GOODS_CATEGORY           object              1670186.0       0.00%
NAME_PORTFOLIO                object              1670209.0       0.00%
NAME_PRODUCT_TYPE             object              1670211.0       0.00%
CHANNEL_TYPE                  object              1670206.0       0.00%
SELLERPLACE_AREA               int64              1668117.0       0.00%
NAME_SELLER_INDUSTRY          object              1670203.0       0.00%
CNT_PAYMENT                  float64              1670164.0      22.29%
NAME_YIELD_GROUP              object              1670209.0       0.00%
PRODUCT_COMBINATION           object              1670196.0       0.02%
DAYS_FIRST_DRAWING           float64              1667375.0      40.30%
DAYS_FIRST_DUE               float64              1667321.0      40.30%
DAYS_LAST_DUE_1ST_VERSION    float64              1665608.0      40.30%
DAYS_LAST_DUE                float64              1667340.0      40.30%
DAYS_TERMINATION             float64              1667383.0      40.30%
NFLAG_INSURED_ON_APPROVAL    float64              1670211.0      40.30%

first 3 rows

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0

----------------------------------------------------------------------

In [12]:
# before exploring tables let's check how many loan IDs from the main table 'application_train' we can find in other tables
# if it's low then the table can be discarded
for name, df in dfs_dict.items():
  if name not in ['app_test', 'bureau_balance']:
    print(name, '# IDs :', len(df['SK_ID_CURR'].unique()))
    perc_IDs = len(df[df.SK_ID_CURR.isin(app_train.SK_ID_CURR.unique())].SK_ID_CURR.unique())/307511
    print('    % IDs from application :', '{:.1%}'.format(perc_IDs))

app_train # IDs : 307511
    % IDs from application : 100.0%
bureau # IDs : 305811
    % IDs from application : 85.7%
installments # IDs : 339587
    % IDs from application : 94.8%
cash # IDs : 337252
    % IDs from application : 94.1%
previous # IDs : 338857
    % IDs from application : 94.6%

With information about only 30% of loans the credit card table will not be useful for modelling, excluding it from the dfs_dict

# Example exploration

In [13]:
"""
This is the main table, broken into two files for Train (with TARGET) and Test (without TARGET).
Static data for all applications. One row represents one loan in our data sample.
"""
# let's take an id of a loan SK_ID_CURR and see what it matches in the different tables (id chosen to avoid NaN)
ex_id = 337855
app_train[app_train.SK_ID_CURR == ex_id]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
205190,337855,0,Cash loans,F,N,Y,2,135000.0,297130.5,21618.0,256500.0,Family,State servant,Incomplete higher,Married,House / apartment,0.019101,-10600,-1566,-2565.0,-3279,NaN,1,1,0,1,0,0,Laborers,4.0,2,2,MONDAY,15,0,0,0,0,1,1,Government,0.212667,0.042491,0.353988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-968.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1.0,0.0,0.0,5.0

In [14]:
"""
All client's previous credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample).
For every loan in our sample, there are as many rows as number of credits the client had in Credit Bureau before the application date.
"""
bureau[bureau.SK_ID_CURR == ex_id].sort_values(by='SK_ID_BUREAU')

# 1 row = past or ongoing credit not contracted with home credit ?
# column AMT_CREDIT_MAX_OVERDUE sums up burean balance in fact ?

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
462128,337855,5976342,Closed,currency 1,-1291,0,536.0,-340.0,NaN,0,414000.0,0.0,0.0,0.0,Consumer credit,-217,NaN
462129,337855,5976343,Closed,currency 1,-2120,0,-1756.0,-1127.0,NaN,0,47790.0,NaN,NaN,0.0,Consumer credit,-1124,3906.0
462130,337855,5976344,Closed,currency 1,-342,0,NaN,-209.0,0.0,0,0.0,0.0,0.0,0.0,Credit card,-179,NaN
334088,337855,6409660,Closed,currency 1,-1762,0,-1547.0,-1536.0,NaN,0,67509.0,0.0,0.0,0.0,Consumer credit,-940,0.0
334089,337855,6409662,Active,currency 1,-342,0,30971.0,NaN,NaN,0,45000.0,16501.5,0.0,0.0,Credit card,-337,NaN
334090,337855,6409663,Active,currency 1,-646,0,442.0,NaN,NaN,0,54000.0,55800.0,0.0,0.0,Credit card,-6,NaN
334091,337855,6409664,Active,currency 1,-988,0,411.0,NaN,NaN,0,225000.0,228582.0,0.0,0.0,Credit card,-39,0.0
334092,337855,6409665,Active,currency 1,-340,0,1486.0,NaN,NaN,0,400500.0,359388.0,0.0,0.0,Consumer credit,-28,5400.0
334093,337855,6409666,Closed,currency 1,-1761,0,-1547.0,-1547.0,NaN,0,67509.0,0.0,NaN,0.0,Consumer credit,-1268,5400.0
334094,337855,6409667,Active,currency 1,-97,0,127.0,NaN,NaN,0,67500.0,129600.0,NaN,0.0,Microloan,-39,5400.0
334095,337855,6409668,Active,currency 1,-618,0,NaN,NaN,NaN,0,247500.0,NaN,NaN,0.0,Credit card,-16,0.0
334096,337855,6409669,Active,currency 1,-189,0,114.0,NaN,NaN,0,39060.0,16618.5,NaN,0.0,Consumer credit,-6,18589.5

In [15]:
"""
Monthly balances of previous credits in Credit Bureau.
This table has one row for each month of history of every previous credit reported to Credit Bureau – i.e the table has 
(#loans in sample * # of relative previous credits * # of months where we have some history observable for the previous credits) rows.
STATUS: [C means closed, X means status unknown, 0 means no DPD, 1 means maximal DPD during month between 1-30, 2 means DPD 31-60,… 5 means DPD 120+ or sold or written off
"""
# let's now filter on a SK_ID_BUREAU associated with loan ex_id thanks to df_raw_bureau above
bureau_balance[bureau_balance.SK_ID_BUREAU == 6409660]

         SK_ID_BUREAU  MONTHS_BALANCE STATUS
7038293       6409660               0      C
7038294       6409660              -1      C
7038295       6409660              -2      C
7038296       6409660              -3      C
7038297       6409660              -4      C
...               ...             ...    ...
7038346       6409660             -53      0
7038347       6409660             -54      0
7038348       6409660             -55      0
7038349       6409660             -56      0
7038350       6409660             -57      X

[58 rows x 3 columns]

In [16]:
"""
Monthly balance snapshots of previous POS (point of sales) and cash loans that the applicant had with Home Credit.
This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample
 – i.e. the table has 
 (#loans in sample * # of relative previous credits * # of months in which we have some history observable for the previous credits) rows.
"""
cash[cash.SK_ID_CURR == ex_id].sort_values(by='MONTHS_BALANCE')

# previous credits with home credits, different form the ones we have in df_raw_bureau ?

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
9288498,2004877,337855,-96,11.0,2.0,Active,0,0
4726340,2004877,337855,-95,11.0,1.0,Active,0,0
1863506,2004877,337855,-94,11.0,0.0,Active,0,0
6627736,2313467,337855,-94,20.0,20.0,Active,0,0
5943865,2004877,337855,-93,11.0,0.0,Active,0,0
...,...,...,...,...,...,...,...,...
9304472,1430239,337855,-5,10.0,10.0,Active,0,0
7799715,1430239,337855,-4,10.0,9.0,Active,0,0
1725393,1430239,337855,-3,10.0,8.0,Active,0,0
3485257,1430239,337855,-2,10.0,7.0,Active,0,0
6969335,1430239,337855,-1,10.0,6.0,Active,0,0

In [17]:
"""
Monthly balance snapshots of previous credit cards that the applicant has with Home Credit.
This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample 
– i.e. the table has 
(#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.
"""
# let's consider SK_ID_PREV asscociated with ex_id thanks to df_raw_previous_application above
# credit[credit.SK_ID_CURR == ex_id]

'\nMonthly balance snapshots of previous credit cards that the applicant has with Home Credit.\nThis table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample \n– i.e. the table has \n(#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.\n'

In [ ]:
"""
All previous applications for Home Credit loans of clients who have loans in our sample.
There is one row for each previous application related to loans in our data sample.
"""
previous[previous.SK_ID_CURR == ex_id].head()

In [ ]:
"""
Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample.
There is a) one row for every payment that was made plus b) one row each for missed payment.
One row is equivalent to one payment of one installment OR one installment corresponding to one payment of one previous Home Credit credit related to loans in our sample.
"""
installments[installments.SK_ID_CURR == ex_id].sort_values(by='NUM_INSTALMENT_NUMBER')

# Converting object variables to categories

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin
class obj_to_cat(BaseEstimator, TransformerMixin):

    def __init__(self):
        pass
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        for col in X.columns:
            if X[col].dtype == 'object':
                X[col] = X[col].astype('category')
                
        return X

In [ ]:
cat_convert = obj_to_cat()

In [ ]:
app_train = cat_convert.transform(app_train)

# groups of columns types

In [ ]:
app_train.dtypes.value_counts()

In [ ]:
# list of numeric features
app_train_num             = [col for col in app_train.columns if app_train[col].dtype in ['int64', 'float64']]
# list of numeric features with cadinality < 20 (discrete variables that can be viewed as categories)
app_train_num_card_l_20   = [col for col in app_train.columns if app_train[col].dtype in ['int64', 'float64'] if len(app_train[col].unique()) < 20]
# list of numeric features with cadinality > 20 
app_train_num_card_m_20   = [col for col in app_train.columns if app_train[col].dtype in ['int64', 'float64'] if len(app_train[col].unique()) >= 20]
# list of categorical features
app_train_cats            = [col for col in app_train.columns if app_train[col].dtype not in ['int64', 'float64']]
# list of categorical features with card <= 2 (useful for encoding)
app_train_cats_card_le_2  = [col for col in app_train.columns if app_train[col].dtype not in ['int64', 'float64'] if len(app_train[col].unique()) <= 2]
# list of categorical features with card > 2 (useful for encoding)
app_train_cats_card_m_2   = [col for col in app_train.columns if app_train[col].dtype not in ['int64', 'float64'] if len(app_train[col].unique()) > 2]

# Categories cardinality

In [ ]:
# cardinality of categorical variables
for name, df in dfs_dict.items():
    print('\n', name, '\n')
    print(df.select_dtypes('category').apply(pd.Series.nunique, axis = 0))

# Category encoding

In [ ]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
encoding_pipe = ColumnTransformer([
    ('card_le_2', OrdinalEncoder(), app_train_cats_card_le_2),
    ('card_m_2', OneHotEncoder(), app_train_cats_card_m_2),
], remainder='passthrough')

In [ ]:
# app_train_enc =  encoding_pipe.fit_transform(app_train)
# le pb de OneHotEncoder est qu'il renvoit un array et non un df avec les colonnes nommées, il faut construire son propre encoder avec pd.get_dummies pour avoir les noms de colonnes et garder un df, trop complexe

In [ ]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train:
    if pd.api.types.is_categorical_dtype(app_train[col].dtype):
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

In [ ]:
# one-hot encoding of categorical variables
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

print('Training Features shape: ', app_train.shape)
print('Testing Features shape: ', app_test.shape)

In [ ]:
app_train.head()

# Aligning Training and Testing Data

There need to be the same features (columns) in both the training and testing data. One-hot encoding has created more columns in the training data because there were some categorical variables with categories not represented in the testing data. To remove the columns in the training data that are not in the testing data, we need to align the dataframes. First we extract the target column from the training data (because this is not in the testing data but we need to keep this information). When we do the align, we must make sure to set axis = 1 to align the dataframes based on the columns and not on the rows!

In [ ]:
train_labels = app_train['TARGET']

# Align the training and testing data, keep only columns present in both dataframes
app_train, app_test = app_train.align(app_test, join = 'inner', axis = 1)

# Add the target back in
app_train['TARGET'] = train_labels

print('Training Features shape: ', app_train.shape)
print('Testing Features shape: ', app_test.shape)

# Application dataset

## EDA app_train

### highly correlated features in app_train

In [ ]:
class exc_high_corr_feat(BaseEstimator, TransformerMixin):
    def __init__(self, thres=0.8):
        self.thres = thres
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        return X

In [ ]:
app_train_corr = app_train.corr()
app_train_corr

In [ ]:
high_corr_pairs = dict()
for i in range(app_train_corr.shape[0]):
    for j in range(app_train_corr.shape[1]):
        if i!=j:
            if app_train_corr.iloc[i,j] > 0.8:
                high_corr_pairs[tuple(sorted([app_train_corr.index[i], app_train_corr.columns[j]]))] = round(app_train_corr.iloc[i,j], 2)

In [ ]:
len(high_corr_pairs)

There are 111 pairs of features correlated at more than 0.8, which mean we could exclude a significant number of features without loosing information

### Examine the Distribution of the Target Column

In [ ]:
app_train['TARGET'].astype(int).plot.hist();

From this information, we see this is an imbalanced class problem. There are far more loans that were repaid on time than loans that were not repaid. Once we get into more sophisticated machine learning models, we can weight the classes by their representation in the data to reflect this imbalance.

### Anomalies

#### Day_births

In [ ]:
# lets's see the age of clients
(app_train['DAYS_BIRTH'] / -365).describe()

Looks consistent

In [ ]:
# lets's see the years of employement
(app_train['DAYS_EMPLOYED'] / -365).describe()

ok the minimum number of years of employement is -1000 which is abnormal

In [ ]:
app_train['DAYS_EMPLOYED'].plot.hist(title = 'Days Employment Histogram');
plt.xlabel('Days Employment');

Just out of curiousity, let's subset the anomalous clients and see if they tend to have higher or low rates of default than the rest of the clients.

In [ ]:
anom = app_train[app_train['DAYS_EMPLOYED'] == 365243]
non_anom = app_train[app_train['DAYS_EMPLOYED'] != 365243]
print('The non-anomalies default on %0.2f%% of loans' % (100 * non_anom['TARGET'].mean()))
print('The anomalies default on %0.2f%% of loans' % (100 * anom['TARGET'].mean()))
print('There are %d anomalous days of employment' % len(anom))

Well that is extremely interesting! It turns out that the anomalies have a lower rate of default.

Handling the anomalies depends on the exact situation, with no set rules. One of the safest approaches is just to set the anomalies to a missing value and then have them filled in (using Imputation) before machine learning. In this case, since all the anomalies have the exact same value, we want to fill them in with the same value in case all of these loans share something in common. The anomalous values seem to have some importance, so we want to tell the machine learning model if we did in fact fill in these values. As a solution, we will fill in the anomalous values with not a number (np.nan) and then create a new boolean column indicating whether or not the value was anomalous.

In [ ]:
# Create an anomalous flag column
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243

# Replace the anomalous values with nan
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

app_train['DAYS_EMPLOYED'].plot.hist(title = 'Days Employment Histogram');
plt.xlabel('Days Employment');

The distribution looks to be much more in line with what we would expect, and we also have created a new column to tell the model that these values were originally anomalous (becuase we will have to fill in the nans with some value, probably the median of the column). The other columns with DAYS in the dataframe look to be about what we expect with no obvious outliers.

As an extremely important note, anything we do to the training data we also have to do to the testing data. Let's make sure to create the new column and fill in the existing column with np.nan in the testing data.

In [ ]:
app_test['DAYS_EMPLOYED_ANOM'] = app_test["DAYS_EMPLOYED"] == 365243
app_test["DAYS_EMPLOYED"].replace({365243: np.nan}, inplace = True)

print('There are %d anomalies in the test data out of %d entries' % (app_test["DAYS_EMPLOYED_ANOM"].sum(), len(app_test)))

### Correlations

#### Target Vs features

In [ ]:
# Find correlations with the target and sort
correlations = app_train.corr()['TARGET'].sort_values()

# Display correlations
print('Most Positive Correlations:\n', correlations.tail(15))
print('\nMost Negative Correlations:\n', correlations.head(15))

Let's take a look at some of more significant correlations: the DAYS_BIRTH is the most positive correlation. (except for TARGET because the correlation of a variable with itself is always 1!) Looking at the documentation, DAYS_BIRTH is the age in days of the client at the time of the loan in negative days (for whatever reason!). The correlation is positive, but the value of this feature is actually negative, meaning that as the client gets older, they are less likely to default on their loan (ie the target == 0). That's a little confusing, so we will take the absolute value of the feature and then the correlation will be negative.

#### Effect of Age on Repayment

In [ ]:
# Find the correlation of the positive days since birth and target
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])
app_train['DAYS_BIRTH'].corr(app_train['TARGET'])

As the client gets older, there is a negative linear relationship with the target meaning that as clients get older, they tend to repay their loans on time more often.

Let's start looking at this variable. First, we can make a histogram of the age. We will put the x axis in years to make the plot a little more understandable.

In [ ]:
set_style_pers()
# Plot the distribution of ages in years
plt.hist(app_train['DAYS_BIRTH'] / 365, bins = 25)
plt.title('Age of Client'); plt.xlabel('Age (years)'); plt.ylabel('Count');

By itself, the distribution of age does not tell us much other than that there are no outliers as all the ages are reasonable. To visualize the effect of the age on the target, we will next make a kernel density estimation plot (KDE) colored by the value of the target. A kernel density estimate plot shows the distribution of a single variable and can be thought of as a smoothed histogram (it is created by computing a kernel, usually a Gaussian, at each data point and then averaging all the individual kernels to develop a single smooth curve). We will use the seaborn kdeplot for this graph.

In [ ]:
plt.figure(figsize = (10, 8))

# KDE plot of loans that were repaid on time
sns.kdeplot(app_train.loc[app_train['TARGET'] == 0, 'DAYS_BIRTH'] / 365, label = 'target == 0')

# KDE plot of loans which were not repaid on time
sns.kdeplot(app_train.loc[app_train['TARGET'] == 1, 'DAYS_BIRTH'] / 365, label = 'target == 1')

# Labeling of plot
plt.xlabel('Age (years)'); plt.ylabel('Density'); plt.title('Distribution of Ages')

# plotting legend
plt.legend(loc='best')

In [ ]:
# Age information into a separate dataframe
age_data = app_train[['TARGET', 'DAYS_BIRTH']]
age_data['YEARS_BIRTH'] = age_data['DAYS_BIRTH'] / 365

# Bin the age data
age_data['YEARS_BINNED'] = pd.cut(age_data['YEARS_BIRTH'], bins = np.linspace(20, 70, num = 11))
age_data.head(10)

#### Exterior Sources

The 3 variables with the strongest negative correlations with the target are EXT_SOURCE_1, EXT_SOURCE_2, and EXT_SOURCE_3. According to the documentation, these features represent a "normalized score from external data source". I'm not sure what this exactly means, but it may be a cumulative sort of credit rating made using numerous sources of data.

Let's take a look at these variables.

First, we can show the correlations of the EXT_SOURCE features with the target and with each other.

In [ ]:
# Extract the EXT_SOURCE variables and show correlations
ext_data = app_train[['TARGET', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH']]
ext_data_corrs = ext_data.corr()
ext_data_corrs

In [ ]:
plt.figure(figsize = (8, 6))

# Heatmap of correlations
sns.heatmap(ext_data_corrs, cmap = plt.cm.RdYlBu_r, vmin = -0.25, annot = True, vmax = 0.6)
plt.title('Correlation Heatmap');

All three EXT_SOURCE featureshave negative correlations with the target, indicating that as the value of the EXT_SOURCE increases, the client is more likely to repay the loan. We can also see that DAYS_BIRTH is positively correlated with EXT_SOURCE_1 indicating that maybe one of the factors in this score is the client age.

Next we can look at the distribution of each of these features colored by the value of the target. This will let us visualize the effect of this variable on the target.

In [ ]:
plt.figure(figsize = (10, 12))

# iterate through the sources
for i, source in enumerate(['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']):
    
    # create a new subplot for each source
    plt.subplot(3, 1, i + 1)
    # plot repaid loans
    sns.kdeplot(app_train.loc[app_train['TARGET'] == 0, source], label = 'target == 0')
    # plot loans that were not repaid
    sns.kdeplot(app_train.loc[app_train['TARGET'] == 1, source], label = 'target == 1')
    
    # Label the plots
    plt.title('Distribution of %s by Target Value' % source)
    plt.xlabel('%s' % source); plt.ylabel('Density')
    
    plt.legend(loc='best');
    
plt.tight_layout(h_pad = 2.5)

EXT_SOURCE_3 displays the greatest difference between the values of the target. We can clearly see that this feature has some relationship to the likelihood of an applicant to repay a loan. The relationship is not very strong (in fact they are all considered very weak, but these variables will still be useful for a machine learning model to predict whether or not an applicant will repay a loan on time

### Pairs Plot

In [ ]:
sns.set()
# Copy the data for plotting
plot_data = ext_data.drop(columns = ['DAYS_BIRTH']).copy()

# Add in the age of the client in years
plot_data['YEARS_BIRTH'] = age_data['YEARS_BIRTH']

sns.pairplot(plot_data.sample(10000, random_state=seed), hue='TARGET', diag_kind='hist')

## Feature Engineering

We will do a lot of feature engineering when we start using the other data sources, but in this notebook we will try only two simple feature construction methods:

Polynomial features
Domain knowledge features

### Polynomial features

In [ ]:
app_train.DAYS_BIRTH.describe()

In [ ]:
# list of features to be transformed to polynoms
poly_features = ['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH']
poly_features_test = ['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH']

# to use the polynomial transformer we need t impute de NaN
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures

pipe_poly_feat = ColumnTransformer([
    ('med_imputer', SimpleImputer (strategy='median'), poly_features)
    ,('poly_feat', PolynomialFeatures(degree = 3), poly_features)
], remainder='passthrough')

In [ ]:
app_train_dev = app_train.copy()

In [ ]:
# app_train_dev_fe = pipe_poly_feat.fit_transform(app_train_dev)

# returns an error value + CT retunrs an array without colmuns name as in the category encoding issue

In [ ]:
# Make a new dataframe for polynomial features
poly_features = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH', 'TARGET']]
poly_features_test = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH']]

# imputer for handling missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = 'median')

poly_target = poly_features['TARGET']

poly_features = poly_features.drop(columns = ['TARGET'])

# Need to impute missing values
poly_features = imputer.fit_transform(poly_features)
poly_features_test = imputer.transform(poly_features_test)

from sklearn.preprocessing import PolynomialFeatures

# Create the polynomial object with specified degree
poly_transformer = PolynomialFeatures(degree = 3)

In [ ]:
# Train the polynomial features
poly_transformer.fit(poly_features)

# Transform the features
poly_features = poly_transformer.transform(poly_features)
poly_features_test = poly_transformer.transform(poly_features_test)
print('Polynomial Features shape: ', poly_features.shape)

In [ ]:
poly_transformer.get_feature_names(input_features = ['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH'])[:15]

There are 35 features with individual features raised to powers up to degree 3 and interaction terms. Now, we can see whether any of these new features are correlated with the target.

In [ ]:
# Create a dataframe of the features 
poly_features = pd.DataFrame(poly_features, 
                             columns = poly_transformer.get_feature_names(['EXT_SOURCE_1', 'EXT_SOURCE_2', 
                                                                           'EXT_SOURCE_3', 'DAYS_BIRTH']))

# Add in the target
poly_features['TARGET'] = poly_target

# Find the correlations with the target
poly_corrs = poly_features.corr()['TARGET'].sort_values()

# Display most negative and most positive
print(poly_corrs.head(10))
print(poly_corrs.tail(5))

Several of the new variables have a greater (in terms of absolute magnitude) correlation with the target than the original features. When we build machine learning models, we can try with and without these features to determine if they actually help the model learn.

We will add these features to a copy of the training and testing data and then evaluate models with and without the features. Many times in machine learning, the only way to know if an approach will work is to try it out!

In [ ]:
# Put test features into dataframe
poly_features_test = pd.DataFrame(poly_features_test, 
                                  columns = poly_transformer.get_feature_names(['EXT_SOURCE_1', 'EXT_SOURCE_2', 
                                                                                'EXT_SOURCE_3', 'DAYS_BIRTH']))

# Merge polynomial features into training dataframe
poly_features['SK_ID_CURR'] = app_train['SK_ID_CURR']
app_train_poly = app_train.merge(poly_features, on = 'SK_ID_CURR', how = 'left')

# Merge polnomial features into testing dataframe
poly_features_test['SK_ID_CURR'] = app_test['SK_ID_CURR']
app_test_poly = app_test.merge(poly_features_test, on = 'SK_ID_CURR', how = 'left')

# Align the dataframes
app_train_poly, app_test_poly = app_train_poly.align(app_test_poly, join = 'inner', axis = 1)

# Print out the new shapes
print('Training data with polynomial features shape: ', app_train_poly.shape)
print('Testing data with polynomial features shape:  ', app_test_poly.shape)

In [ ]:
# On sauvegarde les datasets sans et avec les features poly
list_data = [app_train
             , app_train_poly
             , app_test
             , app_test_poly]

with open("D:/Dowloads_D/Data_OC/P7/app_data.txt", 'wb') as fic:
    mon_pickler = pickle.Pickler(fic)
    mon_pickler.dump(list_data)

### Domain Knowledge Features

Here I'm going to use five features that were inspired by this script by Aguiar:

CREDIT_INCOME_PERCENT: the percentage of the credit amount relative to a client's income
ANNUITY_INCOME_PERCENT: the percentage of the loan annuity relative to a client's income
CREDIT_TERM: the length of the payment in months (since the annuity is the monthly amount due
DAYS_EMPLOYED_PERCENT: the percentage of the days employed relative to the client's age

In [ ]:
app_train_domain = app_train.copy()
app_test_domain = app_test.copy()

app_train_domain['CREDIT_INCOME_PERCENT'] = app_train_domain['AMT_CREDIT'] / app_train_domain['AMT_INCOME_TOTAL']
app_train_domain['ANNUITY_INCOME_PERCENT'] = app_train_domain['AMT_ANNUITY'] / app_train_domain['AMT_INCOME_TOTAL']
app_train_domain['CREDIT_TERM'] = app_train_domain['AMT_ANNUITY'] / app_train_domain['AMT_CREDIT']
app_train_domain['DAYS_EMPLOYED_PERCENT'] = app_train_domain['DAYS_EMPLOYED'] / app_train_domain['DAYS_BIRTH']

In [ ]:
app_test_domain['CREDIT_INCOME_PERCENT'] = app_test_domain['AMT_CREDIT'] / app_test_domain['AMT_INCOME_TOTAL']
app_test_domain['ANNUITY_INCOME_PERCENT'] = app_test_domain['AMT_ANNUITY'] / app_test_domain['AMT_INCOME_TOTAL']
app_test_domain['CREDIT_TERM'] = app_test_domain['AMT_ANNUITY'] / app_test_domain['AMT_CREDIT']
app_test_domain['DAYS_EMPLOYED_PERCENT'] = app_test_domain['DAYS_EMPLOYED'] / app_test_domain['DAYS_BIRTH']

We should explore these domain knowledge variables visually in a graph. For all of these, we will make the same KDE plot colored by the value of the TARGET.

In [ ]:
plt.figure(figsize = (12, 20))
# iterate through the new features
for i, feature in enumerate(['CREDIT_INCOME_PERCENT', 'ANNUITY_INCOME_PERCENT', 'CREDIT_TERM', 'DAYS_EMPLOYED_PERCENT']):
    
    # create a new subplot for each source
    plt.subplot(4, 1, i + 1)
    # plot repaid loans
    sns.kdeplot(app_train_domain.loc[app_train_domain['TARGET'] == 0, feature], label = 'target == 0')
    # plot loans that were not repaid
    sns.kdeplot(app_train_domain.loc[app_train_domain['TARGET'] == 1, feature], label = 'target == 1')
    
    # Label the plots
    plt.title('Distribution of %s by Target Value' % feature)
    plt.xlabel('%s' % feature); plt.ylabel('Density')
    plt.legend(loc='best');
    
plt.tight_layout(h_pad = 2.5)

# Bureau datasets

bureau: information about client's previous loans with other financial institutions reported to Home Credit. Each previous loan has its own row.
    
bureau_balance: monthly information about the previous loans. Each month has its own row.

In [ ]:
def agg_numeric(df, group_var, df_name):
    """Aggregates the numeric values in a dataframe. This can
    be used to create features for each instance of the grouping variable.
    
    Parameters
    --------
        df (dataframe): 
            the dataframe to calculate the statistics on
        group_var (string): 
            the variable by which to group df
        df_name (string): 
            the variable used to rename the columns
        
    Return
    --------
        agg (dataframe): 
            a dataframe with the statistics aggregated for 
            all numeric columns. Each instance of the grouping variable will have 
            the statistics (mean, min, max, sum; currently supported) calculated. 
            The columns are also renamed to keep track of features created.
    
    """
    # Remove id variables other than grouping variable
    for col in df:
        if col != group_var and 'SK_ID' in col:
            df = df.drop(columns = col)
            
    group_ids = df[group_var]
    numeric_df = df.select_dtypes('number')
    numeric_df[group_var] = group_ids

    # Group by the specified variable and calculate the statistics
    agg = numeric_df.groupby(group_var).agg(['count', 'mean', 'max', 'min', 'sum']).reset_index()

    # Need to create new column names
    columns = [group_var]

    # Iterate through the variables names
    for var in agg.columns.levels[0]:
        # Skip the grouping variable
        if var != group_var:
            # Iterate through the stat names
            for stat in agg.columns.levels[1][:-1]:
                # Make a new column name for the variable and stat
                columns.append('%s_%s_%s' % (df_name, var, stat))

    agg.columns = columns
    return agg

In [ ]:
def count_categorical(df, group_var, df_name):
    """Computes counts and normalized counts for each observation
    of `group_var` of each unique category in every categorical variable
    
    Parameters
    --------
    df : dataframe 
        The dataframe to calculate the value counts for.
        
    group_var : string
        The variable by which to group the dataframe. For each unique
        value of this variable, the final dataframe will have one row
        
    df_name : string
        Variable added to the front of column names to keep track of columns

    
    Return
    --------
    categorical : dataframe
        A dataframe with counts and normalized counts of each unique category in every categorical variable
        with one row for every unique value of the `group_var`.
        
    """
    
    # Select the categorical columns
    categorical = pd.get_dummies(df.select_dtypes('object'))

    # Make sure to put the identifying id on the column
    categorical[group_var] = df[group_var]

    # Groupby the group var and calculate the sum and mean
    categorical = categorical.groupby(group_var).agg(['sum', 'mean'])
    
    column_names = []
    
    # Iterate through the columns in level 0
    for var in categorical.columns.levels[0]:
        # Iterate through the stats in level 1
        for stat in ['count', 'count_norm']:
            # Make a new column name
            column_names.append('%s_%s_%s' % (df_name, var, stat))
    
    categorical.columns = column_names
    
    return categorical

## Features Engineering

### Counts of Bureau Dataframe

In [ ]:
bureau_counts = count_categorical(bureau, group_var = 'SK_ID_CURR', df_name = 'bureau')
bureau_counts.head()

### Aggregated Stats of Bureau Dataframe

In [ ]:
bureau_agg = agg_numeric(bureau.drop(columns = ['SK_ID_BUREAU']), group_var = 'SK_ID_CURR', df_name = 'bureau')
bureau_agg.head()

### Value counts of Bureau Balance dataframe by loan

In [ ]:
bureau_balance_counts = count_categorical(bureau_balance, group_var = 'SK_ID_BUREAU', df_name = 'bureau_balance')
bureau_balance_counts.head()

### Aggregated stats of Bureau Balance dataframe by loan

In [ ]:
bureau_balance_agg = agg_numeric(bureau_balance, group_var = 'SK_ID_BUREAU', df_name = 'bureau_balance')
bureau_balance_agg.head()

### Aggregated Stats of Bureau Balance by Client

In [ ]:
# Dataframe grouped by the loan
bureau_by_loan = bureau_balance_agg.merge(bureau_balance_counts, right_index = True, left_on = 'SK_ID_BUREAU', how = 'outer')

# Merge to include the SK_ID_CURR
bureau_by_loan = bureau[['SK_ID_BUREAU', 'SK_ID_CURR']].merge(bureau_by_loan, on = 'SK_ID_BUREAU', how = 'left')

# Aggregate the stats for each client
bureau_balance_by_client = agg_numeric(bureau_by_loan.drop(columns = ['SK_ID_BUREAU']), group_var = 'SK_ID_CURR', df_name = 'client')

 ## Merge new features to application data

In [ ]:
original_features = list(app_train.columns)
print('Original Number of Features: ', len(original_features))